@import url(./utility.css);
@import url(./home.css);
@import url(./form.css);
@import url(./header.css);

:root {
    --color-dark: #222831;
    --color-gray: #393e46;
    --color-primary: #00adb5;
    --color-light: #eeeeee;
}

/* Ukuran scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track (latar belakang) */
::-webkit-scrollbar-track {
    background: var(--color-gray);
}

/* Handle (scroll-nya) */
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

/* Saat hover di scroll */
::-webkit-scrollbar-thumb:hover {
    background: aqua;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: var(--color-dark);
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

main#main-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 2rem;
}

.navigation-drawer {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.navigation-drawer.open {
    transform: translateX(0);
}

@media screen and (width > 1000px) {
    .navigation-drawer {
        min-height: auto;
        width: auto;
        padding: 0;
        background-color: transparent;

        flex-direction: row;
        justify-content: space-between;

        position: static;
        box-shadow: none;
        transform: translateX(0);
    }

    .nav-list {
        flex-direction: row;
        color: white;
    }

    .nav-list li a {
        display: inline-block;
    }

    .drawer-button {
        display: none;
    }
}
